body {
  margin: 0 auto;
  background: rgb(149, 149, 149);
  background: linear-gradient(
    120deg,
    rgba(149, 149, 149, 1) 0%,
    rgba(201, 201, 201, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  display: grid;
  grid-template-rows: repeat(1fr);
  grid-row-gap: 16px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 32px;
}

.header__list {
  margin-right: 32px;
}

.header__login {
  display: flex;
  list-style: none;
}
.header__search {
  display: flex;
  list-style: none;
}

.search__container {
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  margin-left: 16px;
}

.main {
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main__photo {
  margin: 32px;
}

.main__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.footer {
  background-color: #303a2b;
  color: #dddddd;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu {
  display: flex;
  min-width: 98vw;
  justify-content: space-evenly;
}

.footer__help,
.footer__account,
.footer__payment,
.footer__info,
.footer__about {
  list-style: none;
}

ul:nth-child(2n) {
  margin-bottom: 16px;
}

.footer__link {
  color: #dddddd;
  text-decoration: none;
}
