body {
  margin: 0;
  background: rgb(149, 149, 149);
  background: linear-gradient(
    323deg,
    rgba(149, 149, 149, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 201, 201, 1) 30%
  );

  display: grid;
  grid-template-rows: 100px 1fr auto;
  grid-row-gap: 32px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 32px;
}

.header__list {
  margin-right: 32px;
  padding: 0px;
}

.header__login {
  display: flex;
  padding: 0px;
  list-style: none;
}
.header__search {
  display: flex;
  padding: 0px;
  list-style: none;
}

/* .search__container {
} */

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.header__menu {
  display: flex;
  padding: 0px;
  list-style: none;
}

.header__menu :nth-child(n + 2),
.header__login :nth-child(n + 2),
.header__search :nth-child(n + 2) {
  margin-left: 1em;
}

.main {
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main__photo {
  margin: 32px;
}

.main__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.footer {
  background-color: #303a2b;
  color: #dddddd;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}

.footer__menu {
  display: flex;
  min-width: 98vw;
  justify-content: space-evenly;
}

.footer__help,
.footer__account,
.footer__payment,
.footer__info,
.footer__about {
  list-style: none;
}

ul:nth-child(2n) {
  margin-bottom: 16px;
}

.footer__link {
  color: #dddddd;
  text-decoration: none;
}

.woman {
  height: 100vh;
}
.wmain {
  max-width: 1020px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9em;
}

.wmain__menu--header {
  display: flex;
}

.wmain__menu--header p:nth-child(2) {
  padding-left: 16px;
}

.wmain__menu--list {
  list-style: none;
  padding-left: 0px;
}

.wmain__menu--list a {
  text-decoration: none;
  color: #000000;
}

.wmain__menu--list :nth-child(-n + 3) li {
  margin-bottom: 0.5em;
}
